* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
}

.layout1 header {
    min-height: 75px;
    background: silver;
    line-height: 100px;
    padding: 0 2em;
    margin: 1em 0;
}

.layout1 section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.5em 0;
    /*height: 700px;*/
}

.layout1 aside {
    background: silver;
    width: 29%;
    min-height: 100px;
    line-height: 100px;
    padding: 0 2em;
}

.layout1 main {
    width: 70%;
    background: silver;
    min-height: 600px;
    align-items: stretch;
    padding: 2em 2em;
}


/*------------------*/

.layout2 header {
    min-height: 75px;
    background: silver;
    line-height: 100px;
    padding: 0 2em;
    margin: 1em 0;
}

.layout2 section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 600px;
    margin: 0.5em 0;
    height: 700px;
}

.layout2 aside {
    background: silver;
    width: 29%;
    padding: 2em 2em;
}

.layout2 main {
    width: 70%;
    background: silver;
    padding: 2em 2em;
}


/*-------------------------------*/

.layout3 header {
    min-height: 75px;
    background: silver;
    line-height: 100px;
    padding: 0 2em;
    margin: 1em 0;
}

.layout3 section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.5em 0;
    flex-direction: row-reverse;
}

.layout3 aside {
    background: silver;
    width: 29%;
    min-height: 100px;
    line-height: 100px;
    padding: 0 2em;
}

.layout3 main {
    width: 70%;
    background: silver;
    min-height: 600px;
    align-items: stretch;
    padding: 2em 2em;
}


/*------------------*/

.layout4 header {
    min-height: 75px;
    background: silver;
    line-height: 100px;
    padding: 0 2em;
    margin: 1em 0;
}

.layout4 section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row-reverse;
    min-height: 600px;
    margin: 0.5em 0;
    height: 700px;
}

.layout4 aside {
    background: silver;
    width: 29%;
    padding: 2em 2em;
}

.layout4 main {
    width: 70%;
    background: silver;
    padding: 2em 2em;
}
