@media (max-width : 380px) {

    .layout1 section{
        display: block;


    }
    .layout1 aside, .layout1 main{
        width: 100%;
        margin-bottom: 1em;

    }
    .layout3 section{
        flex-direction: column-reverse;
        min-height: 200px;


    }
    .layout3 aside, .layout3 main{
        width: 100%;
        margin-bottom: 1em;

    }
    .layout3 main{
        min-height: 200px;
    }
}
